.bg-container{
    min-height: 100vh;
    /* background-color: #cfcfcfea; */
}
.nav-bar{
    min-height: 6vh;
}
.container-main{
    min-height: 82vh;
}
.app-footer{
    min-height: 11vh;
    background-color: rgba(20, 56, 102, 0.514);
}