<div class="redes-container d-flex justify-content-center gap-3 mt-3">
    <a class="red-btn" href="https://www.linkedin.com/in/crisbcm/"><i class="fa-brands fa-linkedin"></i></a>
    <a class="red-btn" href="https://github.com/CrisBCM"><i class="fa-brands fa-github"></i></a>
</div>
<div class="contacto-container d-flex justify-content-center gap-3 mt-2">
    <span class="contacto-info"><i class="fa-solid fa-phone"></i> 1127078878</span>
    <span class="contacto-info"><i class="fa-solid fa-envelope"></i> cristianbcm1999@gmail.com</span>
</div>
<div class="copyrigth d-flex justify-content-center pt-3 mt-4 mb-3">
    <span class="copy-info"><i class="fa-regular fa-copyright"></i> Cristian Cruz Martinez | Todos los derechos reservados.</span>
</div>