<div class="mx-auto pb-4 px-0 main-container col-12 col-lg-8 col-xl-6 p-0 mt-5 foro-main">
    <div class="border-bottom border-secondary p-2">
        <h5>Crear una publicacion</h5>
    </div>
    <form [formGroup]="form" class="d-flex flex-column px-3 py-4 form-style mt-4">
        <label for="titulo" class="mb-1">Titulo</label>
        <input formControlName="titulo" type="text" placeholder="Titulo" id="titulo" class="input-style py-2 ps-1 mb-3">
        <select *ngIf="categorias$ | async as categorias" formControlName="categoria" name="categoria" id="categoria" class="input-style w-25 py-2 mb-3">
            <option selected disabled>Categoria</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{categoria.nombre}}</option>
        </select>
        <div class="d-flex justify-content-between mb-1">
            <label for="contenido">Descripcion</label>
            <div>
                <span [ngClass]="{'text-danger': contenido.errors?.['maxlength']}">{{contenido.value.length}}</span>
                <span class="pe-2">/3000</span>
            </div>
        </div>
        <textarea formControlName="contenido" name="contenido" id="contenido" cols="30" rows="10" class="input-style textarea ps-1" placeholder="Descripcion"></textarea>
        <div class="border-top border-secondary pt-3 mt-3 d-flex align-content-center">
            <button [disabled]="spinner || form.invalid" class="btn btn-md btn-publicar me-2    " (click)="publicar()">Publicar</button>
            <app-cargando-spinner *ngIf="spinner" class="mt-1"></app-cargando-spinner>
        </div>
    </form>
</div>