.img-container{
    height: 58px;
}
.img-usuario{
    width: 75%;
    max-width: 43px;
    height: 75%;
    border-radius: 5em;
}
.dropdown-style:hover{
    background-color: #B5B5B5;
    cursor: pointer;
    transition: .4s;
}
.drop-down-custom{
    --bs-dropdown-min-width:min-content;
    margin-top: 15px;
    right:-27px;
    background: rgba(1, 114, 252, 0.1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
border-radius: 0;
}
.btn, .show{
    border: none;
}