.img-container{
    height: 62px;
}
.img-usuario{
    width: 100%;
    height: 100%;
    border-radius: 5em;
}
.dropdown-style:hover{
    background-color: #B5B5B5;
    cursor: pointer;
    transition: .4s;
}
.drop-down-custom{
    --bs-dropdown-min-width:min-content;
    margin-top: 9px;
    right:-27px;
    background: rgba(181, 176, 176, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
}
.btn, .show{
    border: none;
}