.article-perfil{
    background-color: rgba(121, 129, 165, 0.185);
}
.img-container{
    min-height: 120px;
    height: 160px;
    border-radius: 5px;
    position: relative;
}
.absolute-container{
    position: relative;
    min-width: 100px;
    max-width: 120px;
    height: 100px;
    top: 50px;
    border-radius: 100px;
}
.img-perfil{
    width: 40%;
    height: 70%;
    min-width: 115px;
    max-width: 115px;
    max-height: 115px;
    min-height: 115px;
    position: absolute;
    border-radius: 100px;
}
.input-img{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.info-perfil{
    position: relative;
    color: rgb(94, 101, 138);
    font-size: 1rem;
}
.ul-info{
    background-color: #cfcfcfea;
    border-radius: 16px;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}
.btn-color{
    color: rgb(111, 128, 155);
    border-radius: 0;
}
.btn-color:hover{
    color:rgb(90, 134, 201);
}
.button-active{
    border-bottom: 2px solid rgb(111, 125, 146);
}