<article *ngIf="usuario$ | async as usuario" class="article-perfil">
    <div class="img-container d-flex align-items-center justify-content-center mx-3">
        <img [src]="usuario.imgUsuario" class="img-perfil">
    </div>
    <section  class="info-perfil pb-3 pb-2 gap-2 text-center">
        
        <h4>{{usuario.nombreCompleto}}</h4>
        <p class="align-self-center text-center mb-3">{{usuario.nombreUsuario}}</p>
        <ul class="d-flex flex-wrap ul-info list-unstyled justify-content-center gap-4 mb-0 mx-4 py-4">
            <li class="d-flex flex-column">
                <span class="fw-bold">{{usuario.publicaciones.length}}</span>
                <button (click)="cambiarSwitchPublicacionOComentario(true)" [ngClass]="{'button-active':switchPublicacionesOComentarios}" class="mb-0 btn btn-color px-0">Publicaciones</button>
            </li>
            <li class="d-flex flex-column">
                <span class="fw-bold">{{usuario.comentarios.length}}</span>
                <button (click)="cambiarSwitchPublicacionOComentario(false)" [ngClass]="{'button-active':!switchPublicacionesOComentarios}" class="mb-0 btn btn-color px-0 ">Comentarios</button>
            </li>
        </ul>
    </section>

</article>