
.comentario-input{
    border: none;
    border-radius: 5px;
    background-color:#d3e5f39d;
    width: 84%;
    margin-right: 15px;
}
.comentario-input:focus-visible{
    outline: none;
}
.img-container{ 
    min-width: 49px;
    max-width: 49px;
}
.btn-enviar{
    border: none;
    border-radius: 5px;
    background-color: rgb(36, 138, 233);
    color: whitesmoke;
    width: 13%;
}
.img-perfil-comentario{
    min-width: 49px;
    min-height: 44px;
    width: 100%;
    height: 44px;
    border-radius: 100%;
}

@media (max-width:333px){
    .img-perfil-comentario{
        display: none;
    }
    .img-container{
        display: none;
    }
    .comentario-input{
        margin-right: 5px;
    }
}