.form-comentario{
    background-color:#d3e5f39d;
}
.comentario-input{
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
.comentario-input:focus-visible{
    outline: none;
}
.img-container{ 
    min-width: 49px;
    max-width: 49px;
}
.btn-enviar{
    background-color: rgb(85, 159, 228);
    color: whitesmoke;
    transition: .3s;
}
.btn-enviar:hover{
    background-color: rgb(36, 138, 233);
}
.img-perfil-comentario{
    min-width: 40px;
    min-height: 40px;
    width: 90%;
    height: 40px;
    border-radius: 100%;
}

@media (max-width:333px){
    .img-perfil-comentario{
        display: none;
    }
    .img-container{
        display: none;
    }
    .comentario-input{
        margin-right: 5px;
    }
}