.hidden{
    display: none;
}
.div-publicacion{
    margin: 48px 0;
    background:#dadbdd;
}
.border-color{
    border-bottom: .5px solid rgb(181, 184, 185);
}
.autor-img-container{
    min-width: 50px;
}
.autor-img{
    border-radius:1000px;
    width: 89%;
    max-width: 75px;
    min-width: 60px;
    height: 65px;
}
.h2-publicacion{
    font-size:clamp(0.667rem, 1vw + 1rem, 1.583rem);
    color: rgb(54, 54, 54);
    font-weight: bold;
}
.neutral-style{
    color: #8e9194;
}
.ul-info{
    list-style-type: none;
    padding: 0;
}
.btn-style:hover{
    color: white;
}
.contenido{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    font-size: clamp(0.667rem, 1vw + 1rem, 1.167rem);
    color: rgb(38, 39, 39);
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Noto Sans', sans-serif;
}

.comentario{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.062);
    background-color:#d3e5f39d ;
    border-radius: 5px;
}
.img-container{ 
    min-width: 49px;
    max-width: 49px;
}
.img-perfil-comentario{
    min-width: 40px;
    min-height: 40px;
    width: 90%;
    height: 40px;
    border-radius: 100%;
}
.respuesta-container{
    padding-left: 60px;
}
.img-autor-respuesta{
    min-width: 40px;
    min-height: 40px;
    width: 10%;
    height: 40px;
    border-radius: 100%;
}
.autor-link{
    color: #6c9ec0;
    text-decoration: none;
    cursor: pointer;
}
.autor-link:hover{
    color: #4192c9;
    text-decoration: underline;
}
.btn-responder{
    color: #33698d;
}
.btn-default{
    background-color: transparent;
    border: none;
    height: min-content;
}
.btn-editarEliminar{
    color: rgba(248, 249, 250, 0.836);
}
.btn-editarEliminar:hover{
    color: rgb(248,249,250);
}
.respuesta-menu{
    background-color: rgba(60, 71, 71, 0.815);
    border: none;
    width: min-content;
    --bs-dropdown-min-width: 6rem;
    
}
.comentario-input{
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
.comentario-input:focus-visible{
    outline: none;
}
.btn-enviar{
    background-color: rgb(85, 159, 228);
    color: whitesmoke;
    transition: .3s;
}
.btn-enviar:hover{
    background-color: rgb(36, 138, 233);
}
@media (max-width:575px){
    .div-publicacion{
        margin-top: 70px;
    }
    .autor-img-container{
        position: relative;
        height: 50px;
    }
    .autor-img{
        position: absolute;
        top: -35px;
        left: 20px;
    }
}
@media (max-width:333px){
    .img-perfil-comentario{
        display: none;
    }
    .img-container{
        display: none;
    }
}
