.div-publicacion{
    margin: 48px 0;
    background-color:#83c1f338;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.253);
}
.autor-img-container{
    min-width: 53px;
}
.autor-img{
    border-radius: 1000px;
    width: 90%;
    max-width: 75px;
}
.h2-publicacion{
    font-size:clamp(0.667rem, 1vw + 1rem, 1.583rem);
    color: rgb(54, 54, 54);
    font-weight: bold;
}
.neutral-style{
    color: #8e9194;
}
.ul-info{
    list-style-type: none;
    padding: 0;
}
.btn-style:hover{
    color: white;
}
.contenido{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    font-size: clamp(0.667rem, 1vw + 1rem, 1.167rem);
    color: rgb(38, 39, 39);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.comentario{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
    background-color:#d3e5f39d ;
    border-radius: 5px;
}
.img-container{ 
    min-width: 49px;
    max-width: 49px;
}
.img-perfil-comentario{
    min-width: 49px;
    min-height: 44px;
    width: 100%;
    height: 44px;
    border-radius: 100%;
}
@media (max-width:575px){
    .div-publicacion{
        margin-top: 70px;
    }
    .autor-img-container{
        position: relative;
        height: 50px;
    }
    .autor-img{
        position: absolute;
        top: -35px;
        left: 20px;
    }
}
@media (max-width:333px){
    .img-perfil-comentario{
        display: none;
    }
    .img-container{
        display: none;
    }
}
