<main>
    <table class="table-style">
        <thead>
            <tr>
                <th class="th-style">Categoria</th>
                <th class="th-style">Publicaciones</th>
                <th class="th-style">Ultima Actividad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-style">
                    <span class="fw-bold">Receta</span>
                    <p class="descripcion-p">Descripcion de receta Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam numquam tempore perferendis pariatur ipsa dolore nisi animi, laudantium alias quia quaerat doloribus enim deleniti officiis nam suscipit ipsum est atque.</p>
                </td>
                <td class="td-style">15</td>
                <td class="td-style">Juan hace 15 segundos</td>
            </tr>
            <tr>
                <td class="td-style">
                    <span class="fw-bold">Receta</span>
                    <p class="descripcion-p">Descripcion de receta Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam numquam tempore perferendis pariatur ipsa dolore nisi animi, laudantium alias quia quaerat doloribus enim deleniti officiis nam suscipit ipsum est atque.</p>
                </td>
                <td class="td-style">15</td>
                <td class="td-style">Juan hace 15 segundos</td>
            </tr>
            <tr>
                <td class="td-style">
                    <span class="fw-bold">Receta</span>
                    <p class="descripcion-p">Descripcion de receta Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam numquam tempore perferendis pariatur ipsa dolore nisi animi, laudantium alias quia quaerat doloribus enim deleniti officiis nam suscipit ipsum est atque.</p>
                </td>
                <td class="td-style">15</td>
                <td class="td-style">Juan hace 15 segundos</td>
            </tr>
            <tr>
                <td class="td-style">
                    <span class="fw-bold">Receta</span>
                    <p class="descripcion-p">Descripcion de receta Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam numquam tempore perferendis pariatur ipsa dolore nisi animi, laudantium alias quia quaerat doloribus enim deleniti officiis nam suscipit ipsum est atque.</p>
                </td>
                <td class="td-style">15</td>
                <td class="td-style">Juan hace 15 segundos</td>
            </tr>
        </tbody>
    </table>
</main>