<main>
    <table *ngIf="categorias$ | async as categorias" class="table-style">
        <thead>
            <tr>
                <th class="th-style">Categoria</th>
                <th class="th-style text-center">Publicaciones</th>
                <th class="th-style">Ultima Actividad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of categorias">
                <td class="td-style">
                    <span class="fw-bold">{{categoria.nombre}}</span>
                    <p class="descripcion-p">{{categoria.descripcion}}</p>
                </td>
                <td class="td-style text-center">{{categoria.publicaciones.length}}</td>
                <td class="td-style">
                    <span *ngIf="categoria.publicaciones | publicacionReciente as ultimaActividad">
                        <a class="a-style" (click)="redirigirPerfilUsuario(ultimaActividad.autor)">{{ultimaActividad.autor}}</a>
                         hace {{ultimaActividad.fecha | fechaAntiguedad}}
                    </span>
                    <span *ngIf="categoria.publicaciones.length == 0">No hay actividad</span>
                </td>
            </tr>
        </tbody>
    </table>
</main>