  <nav class="navbar navbar-dark navbar-expand-lg bg-transparent py-0 nav-style">
    <div class="container p-0 justify-content-between justify-content-lg-start">
      <button class="navbar-toggler d-lg-none ms-md-5 ms-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTopLabel" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand p-0 me-0 text-center a-logo" routerLink="/bp-foro/general">
        <svg class="hidden-desktop" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 200 111" enable-background="new 0 0 200 111" xml:space="preserve">  <image id="image0" width="200" height="111" x="0" y="0"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABvCAMAAACen3/6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACOlBMVEUAAAAAJIwAKIkAKIkA
      KIoAJYkAJogAJIYAJ4kAKIoAJ4kAJ4oAJogAKIgAJ4oAKIoAKIoAKYsAKIkAKIkAKIoAJ4kAIogA
      J4kAJ4kAKIkAJIgAJ4oAJ4kAJ4oAIIAAJ4oAHI4AJ4kAJ4kAJ4oAJ4kAKIoAJokAAKoAJooAJ4oA
      AJkAJ4oAKIkAJ4oAJ4kAKY8AJ4kAKIkAJ4kAJ4kAKIkAHI4AJ4kAJ4oAJ4oAKIkAJooAJ4kAJ4kA
      JooAKIoAKIoAJ4kAJ4kAJYsAJ4oAJ4kAJ4kAKIkAJ4oAI4sAJ4gAJ4oAJIoAJ4kAJokAF4sAJ4oA
      J4kAKIoAKIkAJ4oAKIoAKIoAGoAAJogAKIcAJ4oAJ4sAKI0AJ4oAKIoAJ4kAJ4oAJ4kAJ4oAKoAA
      KIsAKIoAKIkAJ4kAKIoAJ4kAKIoAJooAJowAJ4oAKIoAJokAJowAJooAKIoAKIoAJokAJIcAKIoA
      KIoAKIkAJYgAJ4kAJIkAKIkAJ4oAKIkAJ4kAKIsAJ4oAKIsAJ4kAKIoAJ4kAJ4oAKIsAJYsAJokA
      KIkAHocAJ4kAKIsAJ4oAAIAAJ4oAKIoAKIkAJ4kAKIkAJ4kAJ4kAKIoAKIoAJooAI40AAIAAKIkA
      J4oAJJIAKYwAJ4oAJooAJJIAKIoAJ4oAKIgAJooAIogAKIkAKIoAJ4oAJ4kAJ4oAI4cAJ4oAII8A
      JogAJ4kAJ4kAKIoAKIoAJYkAJ4oAJogAKIkAKIkAKIkAKIoAJ4sAKIr///+x5dcWAAAAvHRSTlMA
      KoB5ZlI8FW5tYVVJLfi7dCzf6KZjHlTqmivey2IImxLd8JAa7WoDXrcFsrTr5Rmv1A3D5gl1b+nZ
      ZNKCkp+suNY33ISe7KUWVpgjqTYLtTS/p++5lApYIPwuJqpTJ9Fw4gZ/+uH9jqv0hTX+wEMUflmB
      UDFGxts+8hzzO62iZ+RNd+CVykBEXe4Rj1qdAoOZ+ZGg91tMoT0dBPuJBx+ocQ6ufEdXD18/i4h2
      JPYQZcmkyIwpxC/Hc2xgXFDkrhQAAAABYktHRL091dJ5AAAAB3RJTUUH5wcNFDoNx+gsPwAABItJ
      REFUeNrtm/dXE0EQx4+oKCZqVLCjgIgFsYsFSwQENIoFgqAidsWGYkFFUCkqWEBExN4Fe+/7x5n4
      nry3c5cws7kNOd9+f81mvu+Tmbnbm71ompKSkpKSkpKSkpKSkpKSP0XYEOrVu09kRN/gjPp1axLV
      3+4YIBzfztAaOMg5WBxkCM5kaHTMMKH4w/EgPo0YOUoQZDTeZEzsWOkgXo2LEwKJp3gkjE+kxieU
      1j9NSJooAIIsrS6USfJBGJs8RToIY8m0qwu9tHyaSgchldZfpZDaUSgjIjkhZ4SxadOlZ4SxGVQQ
      wlWrSzNnSc8IY8PlZ4Sx2fjEC4PMmRsCEJYqH4TNCwXIfHRKxEEWhAKELcTGB82eBrdyixYvWepa
      ZuiRTgIBl98M3iZzuSstK6ifC4BkG6/KWbFyvs5jUTAgLoMl7lUGJKtNBfEqNxNarDEbRNPWrtOB
      OJHxQY+sD7A0FVjkkUBAj+T7WeaBIMlmZ8Qr+HMVmJ4Rr9YAkwTzM6JtAB6UHQQ2I1phEXDZaH5G
      xgKLTTIyom0GLsXmZ0QDV64tMjKiJQGQWKGMRAdcXMIvJj0wgE2jy+/CUQBkKy4+KSPb+MUUDnxG
      tgOQHRJAdnJrd8kB0XbzK/fg4lOafS2/di8JBN3sWim/0iMEErBHRvJr8Vtsn9A9ooHS2oeLTyit
      /Qf4tW4SCLq0EgGI02yQLeDie5DEgQc5BEDELr9+e6TscAIwOEIDQfdIOfA5ahpIX/ex49kM6gSN
      Aw9SAYxO4uKLPiGeOk0EwZZWMXSKE8oIVpVniBzYjBTAp9F4ZHyxjGTRzxeQGamCVtUyQapIG3gC
      SO4qnddZZHyB0jp3no6BKq2ymlq9W4Q8kLocEZAMPkj9BU4XL6UuLzEya8DGF2p2TyMdRGT269Vl
      bHyxZh9xhQwiNqArRf9koveRq9dCAtKEji96rMDyiQeW9IMer/Lw5wris99m+Rm5fggfXxwEu5sT
      BylyEOJ3N8S22cpbbsxY12rgk0I4TxIqrZuU+NhtfNstvVG5VJCMdlLG8Q9Wt/dCq8o7BCNiad29
      d5/EQZqiNEE3uyyQypYHNAzaFEV7CPywk3KfCKW17dFjKgYRxA0cW80HqX3y9BmdggqiHQS2hHcT
      Ah+92Ww1UbHP29pfCEH4RJo0ajsASAfeCD9pDAVIBwA5HD4gtNLqBCAv8Ub4kamYaBlxAJBmvFF4
      lVbM/wLyFIC8siqIC4C8tihIGTiDoexRwgrECTjYG2uCuBsAx1uCURiBvNONz6rCCAR/9BapHwNy
      rwMW83un9+Dr+KM3U0D83dkb++umy4yd4gYp4AjlA4gg+87e/TN7U93H5E/MSJ+5SD0MEsQUpTSO
      ixTNfzoGGIW42SkC58aWBakA78taFaT1C4hkVRB4ebUoyIEaXSRLguw0eDO+h0GEjhUmdBpEst59
      pMhjOLSxXGl99fMqo7VA0mzf/EWyTI9kfa/+URggEgCpBx/L3v0i/uJa8/OX3ZHe7Vy5D/8t+H8J
      8BfX32aDKCkpKSkpKSkpKSkpKRH0Bx2ORhDmy6f1AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIzLTA3
      LTEzVDE4OjU4OjEzKzAyOjAwI3MzbQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMy0wNy0xM1QxODo1
      ODoxMyswMjowMFIui9EAAAAASUVORK5CYII=" />
      </svg>
        <svg class="hidden-mobile" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="25px" viewBox="0 0 200 30" enable-background="new 0 0 200 30" xml:space="preserve">  <image id="image0" width="200" height="30" x="0" y="0"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAAeCAMAAABe4aGeAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAC4lBMVEUAAAAAJ4kAKIsAJ4oA
      J4oAI4sAKY8AHI4AJ4kAKIoAJYkAIIoAJowAKIgAF4sAJ4sAJ4kAJYoAI4cAJIoAJ4sAJ4kAKIkA
      KpUAJ4kAHI4AIooAII8AJIkAJ4kAKIkAKYwAJ4kAJ4oAJ4oAKIcAJ4oAKIoAJ4oAJowAJ4kAJ4kA
      J4oAIIAAJ4kAJ4oAKI0AJ4kAJooAKIkAIYUAKIkAJ4kAHocAJ4kAKIoAJ4kAJ4oAJJIAKIkAJ4oA
      KIkAJokAJ4kAJ4kAJ4kAJ4kAKIwAJ4oAKIkAKIoAJ4oAJ4kAJ4kAJ4oAKIkAJ4gAJokAKIoAJ4kA
      KIoAKIoAKIoAJooAKIoAJosAJooAKIkAJ4kAJooAJ4kAI40AJ4kAJ4oAKIoAKIoAGoAAJ4kAJIwA
      JooAJooAJogAKIsAJYsAKIoAJogAJYgAJ4oAJooAKIgAJokAKIoAKIkAJogAJ4kAKIkAJ4oAKIkA
      JowAJ4oAJ4kAJ4kAJ4oAKIkAKIkAJ4kAJ4kAJ4oAJ4kAJYkAKIsAKIoAJ4oAAP8AKIkAKIoAJIoA
      KIsAJ4oAKIoAKIoAKIkAJ4oAKIsAJJIAJogAKIoAKIoAKIoAJ4kAKIkAKIoAJooAJokAJ4kAKIoA
      J4kAJogAJIkAJooAJ4kAJYsAJYkAJ4kAKIsAJ4oAKIkAJ4oAJ4kAJ4oAKIoAJ4kAJYcAKIkAKIoA
      JIYAJogAJo4AJ4oAJ4oAKIoAKIoAKIoAJ4oAJIcAJ4oAKYsAKIkAKIgAJ4kAAIAAJ4oAJ4oAJ4oA
      J4oAKIoAJ4kAJ4kAKIoAKIoAKIoAKIkAKIoAJ4kAJ4kAAKoAIogAKIkAKIoAJ4kAKIoAKIkAJ4kA
      J4kAJ4kAJ4kAJ4sAKIkAAIAAJYgAKIoAJ4oAJ4oAJIgAJ4oAJ4sAKIoAKIYAJokAJ4kAKIkAJ4oA
      J4oAJ4oAKIkAKIoAIogAKIkAJ4sAJ4oAKIoAJ4oAJ4oAJooAKIr///9lhLWTAAAA9HRSTlMAYX92
      SBYZEnVZKRg1LQsuJzAkMiHFoAw0CSUQONitH772tyDE9LAoyfKoCMPRJqRK7hfb0hHjyOq9B4CJ
      p0MaqYS2M+K0U3z3r5vOVl2Oq8Zg4H67UWTobpJwHXc7bUwKVCo9a3JnN0Y8PmJ4OjbT80kN2WnH
      FLLwfZjsbNCIg6JFQGbrAfl0I1rvgeeNqjkOL9qHuZfhmVdqgq5bZRxelURSik3XmuRopT/lItS/
      FVgbo2/VwJ+QMfEsc0dOAtydi8LMY8v67ax5oZ68Aw/mpnuzk5zWQd1PhgRLjOneK7VClBNQuMFV
      z8r1zR66XJZ6/vxxv375ggAAAAFiS0dE9UXSG9sAAAAHdElNRQfnBw0UOR3xcm+YAAAGV0lEQVRY
      w+1X+XdNVxTeQZLSkMQUQZA0pphiTAlNiiQIpYYgMYREUIKmhhKEW2OKIkGLqnkqL+Yaa6i51Rqq
      s2qrVEOrw/4D+u1z7n25eXlL/ZC1LGtl//DO+c49w/7Ons4jKpESKZH/FY9SWkqX8Sz60Qsf3C/z
      Npc9V7ZcMSv0vE/5CgXI18/2yb+iDVSqXHhdFXZK1QDXTathNNDtcdVty2oUI42aQbJlrdqaUx30
      g0O8FXghFKBuPa1j/QYADcMa2VY2LtCImzw5kaa2Zc2Kj0e4uWVzL4AWLTVo1RqgdhsNIsRcfi9q
      0LZdISIRkZGR7TvIxJdc9o3CF/cnikWiIyNf7hiMTqdiI9KZOSY2rgtzV4BuzPHde8BErwD0ZO4V
      +2pv5j4AfcGhX0J/5gEFS+FaA1WnNTRKVL2k8EEePoUPCBw8ZMDQZBeLDJPOcGtZhZTE1DK2GSkj
      0ka6UdV7VOmE0RZ4bcxYj3Tbx3HM49GkwqHQTGAeR/Q6c3+iDByDaCzL/AaRJ0AU0UTmSW6IEEyS
      gGbyFGW1eNHCcq3ULjL05lQ3RAj2n4YmTq3KnC5D6KTPUKaHU8x0umAWUcAs1QuaLdNq19HAcO76
      FnM3NL4YzaBhzHMA5s4TT0lQDChZ2X8+cwNZD7CgKJGFGG6Ku+9sHptdzkkky1LlbTdEFjEvVm6g
      ZaIm0kqjJS5EZpjd4HeIlgaZoMsyF6t5MC8nymHOFdSEeRCtgCcLWMmcRh2YV5E22bvORfZgHwL8
      Hm5+9dBUmGemRSQDcbCm+9paIFeUCO6N36d1+J0V+0Gu0kCI8Pqh07OhI9GGSJE5atpGUNi0OW0L
      Uh1RGqLTN9loaWplSZQxoC7zWqJV6h6UhjMpmnmrgPHMYwnHbBKwjXm7OyJB4rs79L3jOtpaRHYy
      f4ihXQDVrWUS7LsdDkcvSYN5omET7ePwCSESArQH7V49fSq6+4g2Ma8A2s98gGg980GAzQ7HITuR
      7aKKjEQruiRqT5OfjwQ0EFb4UTloubByZxE+rIb2jjYWHmEOJeqEMZWrA32Ml5Aq+KjdIpYcUyMV
      RhrHI4DyFJETGKmPVntNd6H2seq2SDdikW5Oaodd1HN+TRe/mqj2XKzylAQMIWZPSZ46LeCMfPqE
      Oc40T58iMZJ0Fsv7olPunKlflYJgP23p7IbIyh5zhcZWC3sqIpIqKqP1l8kp5xGd7WzxrYgsMLsX
      Egsz8ap2EaMpNI25g+CDzO0pTNtSguySmCdHQG8dkq5Z6zIKJ0prttSjT+vZiCTnynmfRdqJiGv1
      MQzDXz9sakySKR1nKiJXXIj4wbwnP5dpw7/A0ISrzRQR8neYVK65GGVusKi7mvm6INz/CBqoXJPo
      JPMY2sd8Q0Am80Y3RBBcrJZ9CS2u2YggKXY+XoPyXC0yrOBoJN+bXwWoolKESBRisn+SmhaDrIG6
      AeN/rfl/017dgLe5zbcOR3czEtZLNbkp4IiEPvTphf53sO339APujHRtGVyUSP1bzD9SI1PbJTYi
      h/SU2Y8hcp1ZisxCN0QykKMa3tbTMvXjYaCyyE8Oh1SQn6XqmNv8ou+9UbYYYZnOFUfRJEnCYRSl
      0Wju0K/IrHipbMbGBa8tBHsbZB9HY53ppeKEExn2GEERqwf+5x5D5K4KTO/eboiE4DdXvZTXUkNx
      DKUhiIQy35uMV6zSTctvUgO8hShXItrNHOaZFKLypzxeTt2pDC1rAVxADmtd8b5kAbdZazlS5+/M
      +Y5Qzmd+YBGRNPDAcYvZ9qpyIQLLc4QjWx5eD12IBDu3/0MMxwfPyObbiGJl7P49PBpinPtsseZK
      nfjTAptJPVu07DSP40L62Ik0fyTvcZ986Tv6gc8uK2udkaHMEwe0/7gjIuUX1caYI3mkMJF85wG5
      tOCCtPEb9I2vNsejlzq38Y5XI+f/uiJovwJ/e6hPOQr8E6vAIwXmHbdpcNgwxXRjitoU82gUnMsw
      HjrT7/YdaxKX0m3DcD4DA/E9z55p/g1bkhYou1VSazPE1dEGUIp1gOFLdCdryqlYNUH+IzXNmXX3
      xtkk+zYZe7LWXB7iZ6KUS9FXS1tnzo67uO9YJROEl+paNbE8PamMVIns2Rf/G/oB+swLaqr6h/PM
      C4hMWve0lSgO8U/3etoqlEiJPE35Dxz+OBg32W7SAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIzLTA3
      LTEzVDE4OjU3OjI5KzAyOjAw+IcwTQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMy0wNy0xM1QxODo1
      NzoyOSswMjowMInaiPEAAAAASUVORK5CYII=" />
      </svg>
      </a>
      <div class="d-none d-lg-flex col-lg-6 list-container">
        <ul class="navbar-nav justify-content-md-center ms-md-5 justify-content-center align-items-center">
          <li *ngIf="!usuarioAutenticado.token" class="nav-item">
            <a  routerLink="/iniciar-sesion" class="nav-link px-3 font-style">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-style px-4" aria-current="page" routerLink="/bp-foro/general">Foro</a>
          </li>
          <li class="nav-item" *ngIf="tokenDecoded.role == 'ADMIN'">
            <a class="nav-link font-style px-4" aria-current="page" routerLink="/admin">Admin</a>
          </li>
        </ul>
      </div>
      <div class="offcanvas-lg offcanvas-top text-bg-dark" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasTop" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-lg-none">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a *ngIf="!usuarioAutenticado.token" routerLink="/iniciar-sesion" class="nav-link">Iniciar Sesion</a>
              <a class="nav-link" aria-current="page" href="#">Foro</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="ms-lg-auto d-flex align-items-center gap-3" *ngIf="usuarioAutenticado && usuarioAutenticado.token">
        <app-btn-publicar></app-btn-publicar>
        <app-menu-usuario ></app-menu-usuario>
      </div>
    </div>
  </nav>