.nav-style{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.103);
}
.font-style{
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(108, 124, 177);
    text-decoration: none;
}
.font-style:hover{
    background-color: #B5B5B5;
    transition: .4s;
}
.logo-container{
    margin-left: 5rem;
}
.img-logo{
    width: 11rem;
}
.buttons-container{
    max-width: 660px;
}

.hidden-mobile{
    display: none;
}
@media (min-width:400px) {
    .hidden-desktop{
        display: none;
        user-select: none
    }
    .hidden-mobile{
        display: inline-block;
    }
}