<main class="d-flex flex-column main-container">
    <nav class="general-bg w-100 my-3">
        <ul class="d-flex flex-wrap gap-1 justify-content-center ps-0 mb-0 ul-nav">
            <li *ngIf="persona$ | async" class="link-style d-flex li-hover">
                <button (click)="navOpcion = 'consumo'" class="button-nav px-3 fw-bold" [ngClass]="{'button-active': navOpcion == 'consumo'}">
                    Consumo
                </button>
            </li>
            <li class="link-style d-flex li-hover">
                <button (click)="navOpcion = 'publicaciones'" class="button-nav px-3 fw-bold" [ngClass]="{'button-active': navOpcion == 'publicaciones'}">
                    Publicaciones
                </button>
            </li>
            <li class="link-style d-flex li-hover">
                <button (click)="navOpcion = 'comentarios'" class="button-nav px-3 fw-bold" [ngClass]="{'button-active': navOpcion == 'comentarios'}">
                    Comentarios
                </button>
            </li>
        </ul>
    </nav>
    <ng-container *ngIf="navOpcion == 'consumo' && !perfilAjeno">
        <app-consumo-main [persona$]="persona$"></app-consumo-main>
    </ng-container>
    <ng-container *ngIf="navOpcion == 'publicaciones'">
        <app-publicaciones-main [persona$]="persona$"></app-publicaciones-main>
    </ng-container>
    <ng-container *ngIf="navOpcion == 'comentarios'">
        <app-comentarios-main [persona$]="persona$"></app-comentarios-main>
    </ng-container>
</main>

