.general-bg{
    background-color: rgba(121, 129, 165, 0.185);
}
.link-style{
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
.anchor-style{
    color: rgb(95, 118, 167);
    cursor: pointer;
}
.anchor-style:hover{
    color: rgb(93, 152, 204);
}

@media (max-width: 530px) {
    .article-relative{
        position: relative;
    }
    .btn-responsive{
        background-color: rgb(131, 124, 124);
        position: absolute;
        right: -9px;
        top: -10px;
    }
}
@media (min-width: 768px) and (max-width:853px){
    .article-relative{
        position: relative;
    }
    .btn-responsive{
        background-color: rgb(131, 124, 124);
        position: absolute;
        right: -9px;
        top: -10px;
    }
}
