<ul class="ul-filtro d-flex gap-4 align-items-center px-3 px-sm-0 mb-sm-0">
    <li class="link-style d-flex align-items-center gap-2"> 
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option disabled selected>Ordenar por tema</option>
            <option value="1">Recetas</option>
            <option value="2">Preguntas</option>
            <option value="2">Todo</option>
        </select>
    </li>
    <li class="link-style d-flex align-items-center gap-2"> 
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option disabled selected>Fecha de subida</option>
            <option value="1">Reciente</option>
            <option value="2">Ultimo</option>
          </select>
    </li>
</ul>