.btn-default{
    background-color: transparent;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}
.btn-bg{
    background-color: rgb(255, 255, 255);
}
.btn-active{
    background-color: rgb(156, 159, 194);
}
.btn-default:disabled{
    opacity: 0,1;
    color: gray;
    border: none;
}
.btn-default:hover{
    background-color:  rgba(235, 235, 235, 0.945);
}
.flecha-bg{
    color: rgb(88, 93, 148);
}
@media (min-width:700px) {
    .btn-default{
        padding: 1px 8px;
    }
}