<section class="container-fluid d-flex flex-column align-items-center mt-5 flex-wrap p-0">
        <h3 class="text-center mb-4">Crear Cuenta</h3>
        <form [formGroup]="registrarForm" class="col-12 col-sm-10 col-md-7 col-lg-6 col-xxl-4 form-style d-flex flex-wrap flex-column align-items-center gap-4 py-md-0 py-5">
            <label for="nombreCompleto" class="px-2 label-style  w-75">
                <input [ngClass]="{'is-invalid': isValidField('nombreCompleto')}" formControlName="nombreCompleto" class="p-2 w-100 input-style" type="text" name="nombreCompleto" id="nombreCompleto" placeholder="NombreCompleto">
                <div class="invalid-feedback">
                    <span class="ps-2" *ngIf="nombreCompleto.errors?.['minlength']">
                        Minimo 2 carácteres.
                    </span>
                    <span class="ps-2" *ngIf="nombreCompleto.errors?.['required']">
                        Campo requerido.
                    </span>
                </div>
            </label>
            <label for="nombreUsuario" class="px-2 label-style  w-75">
                <input [ngClass]="{'is-invalid': isValidField('nombreUsuario')}" formControlName="nombreUsuario" class="p-2 w-100 input-style" type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Usuario">
                <div class="invalid-feedback">
                    <span class="ps-2" *ngIf="nombreUsuario.errors?.['minlength']">
                        Minimo 2 carácteres.
                    </span>
                    <span class="ps-2" *ngIf="nombreUsuario.errors?.['required']">
                        Campo requerido.
                    </span>
                </div>
            </label>
            <label for="peso" class="px-2  w-75">
                <input [ngClass]="{'is-invalid': isValidField('peso')}" formControlName="peso" class="p-2 w-100 input-style" type="number" name="peso" id="peso" placeholder="Peso corporal (Kg)">
                <div class="invalid-feedback">
                    <span class="ps-2" *ngIf="peso.errors?.['min']">
                        Peso minimo 20.
                    </span>
                    <span class="ps-2" *ngIf="peso.errors?.['max']">
                        Peso maximo 200.
                    </span>
                    <span class="ps-2" *ngIf="peso.errors?.['required']">
                        Campo requerido.
                    </span>
                </div>
            </label>
            <label for="actividad" class="px-2  w-75">
                <select [ngClass]="{'is-invalid': isValidField('actividad')}" formControlName="actividad" class="p-2 w-100 input-style" name="actividad" id="actividad">
                    <option disabled selected >Selecciona una opción</option>
                    <option value="1.2">Ejer. poco o ninguno</option>
                    <option value="1.4">Ejer. ligero (1-3d/S)</option>
                    <option value="1.6">Ejer. moderado (3-5d/S)</option>
                    <option value="1.8">Ejer. fuerte (6-7d/S) </option>
                </select>
                <div class="invalid-feedback">
                    <span class="ps-2" *ngIf="actividad.errors?.['required']">
                        Campo requerido.
                    </span>
                </div>
            </label>
            <label for="email" class="px-2  w-75">
                <input [ngClass]="{'is-invalid': isValidField('email')}" formControlName="email" class="p-2 input-style w-100" type="text" name="email" id="email" placeholder="Email" (keydown)="changeValue()">
                <div class="invalid-feedback">
                    <span class="ps-2" *ngIf="email.errors?.['minlength']">
                        Minimo 4 carácteres.
                    </span>
                    <span class="ps-2" *ngIf="email.errors?.['required']">
                        Campo requerido.
                    </span>
                </div>
            </label>
            <label for="password" class="px-2  w-75">
                <input [ngClass]="{'is-invalid': isValidField('password')}" formControlName="password" class="p-2 w-100 input-style" type="password" name="password" id="password" placeholder="Contraseña">
                <div class="invalid-feedback">
                    <span class="ps-2" *ngIf="password.errors?.['minlength']">
                        Minimo 5 carácteres.
                    </span>
                    <span class="ps-2" *ngIf="password.errors?.['required']">
                        Campo requerido.
                    </span>
                </div>
            </label>
            <div class="w-100 text-center">
                <button class="button-style btn btn-md" [disabled]="registrarForm.invalid" [ngClass]="{'button-hover':registrarForm.valid}" (click)="enviarRegistro()">Registrarse</button>
            </div>
            <div class="w-50 mx-auto mt-4 msg-success-container text-light p-3 text-center" *ngIf="msgRegistroCompletado">
                {{msgRegistroCompletado}}
            </div>
            <div class="alert alert-warning p-3 alert-div" *ngIf="msgError && email.value !== ''">
                {{msgError.error}}
            </div>
        </form>
</section>