.article-aside{
    background-color: rgb(160, 154, 147);
}
.img-logo{
    object-fit:contain;
}
.form-style{
    position: relative;
}
.label-style{
    height: min-content;
}
.input-style{
    border: none;
    border-radius: 10px;
    background-color: rgb(236, 236, 236)
}
.input-style:focus-visible{
    outline: none;
    background-color: rgb(253, 253, 253);
}
.input-style:hover{
    background-color: rgb(253, 253, 253);
}
.button-style{
    border: none;
    background-color: rgba(230, 192, 146, 0.54);
    border-radius: 10px;
    color: rgb(92, 91, 91);
    padding: 10px;
    width: 25%;
    min-width: 120px;
}

.button-hover:hover{
    background-color: rgb(223, 193, 157);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.233);
}
.msg-success-container{
    background: rgba(49, 206, 16, 0.47);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(49, 206, 16, 0.3);
}
.alert-div{
    position: absolute;
    bottom: -80px;
}