.modal-style{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body{
    background-color: rgb(208, 195, 195);
    max-width: 80%;
    min-height: 500px;
}
.input-editar{
    border: none;
    border-radius: 2px;
    padding: 10px 5px;
}
.input-editar:focus-visible{
    outline: none;
}
.form-width{
    width: 60%;
}
@media (min-width: 992px) {
    .modal-body{
        max-width: 50%;
    }
}
@media (max-width:450px){
    .modal-body{
        max-width: 98%;
    }
    .form-width{
        width: 95% ;
    }
}