.modal-body{
    background-color: rgb(208, 195, 195);
    max-width: 80%;
    min-height: 500px;
    border-radius: 5px;
}
.input-editar{
    border: none;
    border-radius: 2px;
    padding: 10px 5px;
}
.input-editar:focus-visible{
    outline: none;
}
.form-width{
    width: 60%;
}
@media (min-width: 992px) {
    .modal-body{
        max-width: 50%;
    }
}
@media (max-width:450px){
    .modal-body{
        max-width: 98%;
    }
    .form-width{
        width: 95% ;
    }
}