.general-bg{
    background-color: rgba(121, 129, 165, 0.185);
}
.link-style{
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
.anchor-style{
    color: rgb(95, 118, 167);
    cursor: pointer;
}
.anchor-style:hover{
    color: rgb(93, 152, 204);
}
.respuesta-menu{
    background-color: rgba(60, 71, 71, 0.815);
    border: none;
    width: min-content;
    --bs-dropdown-min-width: 6rem;
}
.btn-eliminarEditar{
    background-color: transparent;
    border: none;
    height: min-content;
    color: rgba(248, 249, 250, 0.836);
}
.btn-eliminarEditar:hover{
    color: rgb(248,249,250);
}
.btn{
    border: none;
}
.btn:active{
    border: none;
}

@media (max-width: 530px) {
    .article-relative{
        position: relative;
    }
    .btn-responsive{
        background-color: rgb(131, 124, 124);
        position: absolute;
        right: -9px;
        top: -10px;
    }
}