<ng-container *ngIf="persona; else usuarioAjeno">
    <div class="d-flex flex-wrap justify-content-center gap-4 py-4 general-bg w-100 mb-3">
        <ng-container *ngIf="persona.publicaciones.length > 0; else ceroPublicaciones">
            <article class="px-3 py-2 border w-75 article-relative" *ngFor="let publicacion of persona.publicaciones">
                <div class="d-flex flex-wrap justify-content-between">
                    <h6 class="mb-0">
                        <a (click)="redirigirAPublicacion(publicacion.id)" class="link-style anchor-style">{{publicacion.tema}}: {{publicacion.titulo}}.</a>
                    </h6>
                    <div class="btn-group btn-responsive" role="group">
                        <button type="button" class="btn btn-sm py-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end respuesta-menu">
                            <li>
                                <button (click)="idPublicacion = publicacion.id" type="button" class="btn-eliminarEditar" data-bs-toggle="modal" data-bs-target="#exampleModalEliminar">
                                    Eliminar
                                </button>
                            </li>
                            <li>
                                <button class="btn-eliminarEditar" (click)="setPublicacionEditar(publicacion)">Editar</button>
                            </li>
                        </ul>
                        <app-modal-editar *ngIf="switchEditarPublicacion" (switchEditarPublicacion)="switchEditarPublicacion = $event" (nuevaPublicacion)="actualizarPublicacion($event)"></app-modal-editar>
                        <!-- Modal eliminar -->
                        <div class="modal fade" id="exampleModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabelEliminar" aria-hidden="true">
                                
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabelEliminar">¿Eliminar Publicacion?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro que queres eliminar esta publicacion?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <button class="btn btn-secondary" (click)="eliminarPublicacion(idPublicacion)" data-bs-dismiss="modal">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> 
                </div>
                <span>publicado hace: {{calcularAntiguedadFecha(publicacion.fecha)}} - </span>
                <span>por: <a (click)="redirigirAPerfilUsuario(persona.nombreUsuario)" class="link-style anchor-style">{{publicacion.autor}}</a></span>
            </article>
        </ng-container>
        <ng-template #ceroPublicaciones>
            Aun no hay publicaciones!
        </ng-template>
    </div>
</ng-container>
<ng-template #usuarioAjeno>
    <div *ngIf="usuario$ | async as usuario" class="d-flex flex-wrap justify-content-center gap-4 py-4 general-bg w-100 mb-3">
        <ng-container *ngIf="usuario.publicaciones.length > 0; else ceroPublicaciones">
            <article class="px-3 py-2 border w-75" *ngFor="let publicacion of usuario.publicaciones">
                <h6 class="mb-0">
                    <a (click)="redirigirAPublicacion(publicacion.id)" class="link-style anchor-style">{{publicacion.tema}}: {{publicacion.titulo}}.</a>
                </h6>
                <span>publicado hace: {{calcularAntiguedadFecha(publicacion.fecha)}} - </span>
                <span>por: <a (click)="redirigirAPerfilUsuario(usuario.nombreUsuario)" class="link-style anchor-style">{{publicacion.autor}}</a></span>
            </article>
        </ng-container>
        <ng-template #ceroPublicaciones>
            Aun no hay publicaciones!
        </ng-template>
    </div>
</ng-template>