.form-style{
    background-color: rgba(102, 108, 143, 0.404);
    color: rgba(44, 62, 124, 0.815);
    /* border-radius: 2%; */
    /* min-height: 500px; */
    /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.479); */
}
.w-label{
    width: 90%;
    font-weight: bold;
}
.input-style{
    height: 35px;
    border: none;
    padding-inline-start: 8px;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.596);
    color: rgb(42, 47, 56);
}
.input-style:hover{
    outline: 4px solid rgba(189, 207, 247, 0.459);
}
.input-style:focus-visible{
    outline: 4px solid rgba(189, 207, 247, 0.459);
}
.button-style{
    border: none;
    background-color: rgba(120, 148, 170, 0.37);
    padding: 8px;
    border-radius:5px;
    color: rgb(230, 230, 230);
}
.button-valid{
    background-color: rgba(48, 81, 187, 0.527);
}
.button-hover:hover{
    box-shadow: 0px 1px 5px rgba(19, 19, 19, 0.233);
}
.button-a{
    color: rgb(231, 232, 233);
    text-decoration: none;
    border-bottom: 1px solid rgb(218, 214, 214);
}
.button-a:hover{
    color: rgb(144, 198, 243);
}