.table-categoria{
    width: 96%;
    border-collapse:separate;
    border-spacing: 0px 10px;
}
.th-categoria{
    padding: 10px 0px 10px 5px;
    color: #c5c8ce;
    font-weight: bold;
}
.visible{
    color: rgb(67, 139, 67);
}
.oculto{
    color: rgba(226, 73, 73, 0.705);
}
.td-categoria{
    background-color: #a2b6c4;
    padding: 10px 10px;
    max-height: 100px;
    color: #041031;
    font-weight: 500;
}
.info{
    cursor: pointer;
}
.info:hover .descripcion-tooltip{
    opacity: 1;
}
.descripcion-tooltip{
    margin-left: 5px;
    max-width: 270px;
    border-radius: 2px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    padding: 10px 10px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.178);
    opacity: 0;
    transition: opacity .3s;
}
.btn-style{
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    color: #d6dbebee;
    font-weight: bold;
}
.btn-style:hover{
    color: rgb(67, 84, 123);
}
.btns{
    padding: 2px 4px;
    border-radius: 5px;
    background-color: rgba(120, 146, 161, 0.692);
}
/* @media (min-width: 992px) {
    .table-categoria{
        width: 96%;
    }
} */
