.table-categoria{
    width: 96%;
}
.th-categoria{
    padding: 10px 0;
}
.td-categoria{
    background-color: rgba(159, 176, 197, 0.507);
    padding: 20px 10px;
    max-height: 100px;
}
.info{
    cursor: pointer;
}
.info:hover .descripcion-tooltip{
    opacity: 1;
}
.descripcion-tooltip{
    margin-left: 5px;
    max-width: 270px;
    border-radius: 2px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    padding: 10px 10px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.178);
    opacity: 0;
    transition: opacity .3s;
}
.btn-style{
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgb(97, 162, 223);
    color: rgb(214, 214, 214);
}
.btn-style:hover{
    color: white;
}
.btns{
    padding: 2px 4px;
    border-radius: 5px;
    background-color: rgba(120, 146, 161, 0.692);
}
/* @media (min-width: 992px) {
    .table-categoria{
        width: 96%;
    }
} */
