<div class="d-flex justify-content-end">
    <button class="me-3 me-md-4 btn-style">Crear</button>
</div>
<app-categoria-modal-form></app-categoria-modal-form>
<table class="table-categoria mx-auto">
    <thead class="thead-categoria">
        <tr>
            <th class="th-categoria">Categoria</th>
            <th class="th-categoria">Publicaciones</th>
            <th class="th-categoria">Ultimo</th>
            <th class="th-categoria"> </th>
        </tr>
    </thead>
    <tbody class="tbody-categoria">
        <tr>
            <td class="td-categoria td-relative">
                <span class="me-2 ">Juan</span>
                <span class="info">
                    <i class="fa-solid fa-circle-info"></i>
                    <div class="descripcion-tooltip" role="tooltip">
                        <h6>Descripcion</h6>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio inventore eius odit possimus voluptate aliquid, ab recusandae dolor reprehenderit perferendis aliquam, autem praesentium consequuntur. Dignissimos at vero eum quia iste.
                        </span>
                    </div>
                </span>
                
            </td>
            <td class="td-categoria">2</td>
            <td class="td-categoria">ultimo</td>
            <td class="td-categoria text-center"><i class="fa-solid fa-ellipsis"></i></td>
        </tr>
    </tbody>
</table>