<ng-container *ngIf="categorias$ | async as categorias">
    <div class="d-flex justify-content-end">
        <button class="me-3 me-md-4 btn-style" (click)="switchCrear = true">Crear</button>
    </div>
    <app-categoria-modal-form *ngIf="switchCrear" 
        [tituloModal]="'Crear Categoria'"
        (emitCerrar)="switchCrear = $event"
        ></app-categoria-modal-form>
    <app-categoria-modal-form *ngIf="switchEditar"
        [switchEditar]="true"
        [tituloModal]="'Editar Categoria'"
        (emitCerrar)="switchEditar = $event"
        [categoriaNombre]="categoria.nombre"
        [categoriaDescripcion]="categoria.descripcion"
        (emitEditar)="editarCategoria($event)"></app-categoria-modal-form>

    <app-modal-eliminar  *ngIf="switchEliminar"
                         [tituloModal]="'Eliminar Categoria'"
                         [mensajeModal]="'Esta seguro que desea eliminar la categoria?'"
                         (cerrarModal)="switchEliminar = $event"
                         (confirmarEliminar)="eliminarCategoria()">
    </app-modal-eliminar>
    <table class="table-categoria mx-auto">
        <thead class="thead-categoria">
            <tr>
                <th class="th-categoria">Categoria</th>
                <th class="th-categoria">Publicaciones</th>
                <th class="th-categoria">Estado</th>
                <th class="th-categoria"> </th>
            </tr>
        </thead>
        <tbody class="tbody-categoria">
            <tr *ngFor="let categoria of categorias" class="mb-4 border">
                <td class="td-categoria td-relative border">
                    <span class="me-2 ">{{categoria.nombre}}</span>
                    <span class="info">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="descripcion-tooltip" role="tooltip">
                            <h6>Descripcion</h6>
                            <span>
                                {{categoria.descripcion}}
                            </span>
                        </div>
                    </span>
                </td>
                <td class="td-categoria border">{{categoria.publicaciones.length}}</td>
                <td class="td-categoria bprder">
                    <span *ngIf="!categoria.habilitado">Oculto</span>
                    <span *ngIf="categoria.habilitado">Visible</span>
                </td>
                <td class="td-categoria text-center border"><app-btn-group
                    class="btns"
                    (switchModalEliminar)="switchEliminar = $event"
                    (switchEditar)="switchEditar = $event"
                    (click)="elegirCategoria(categoria.id, categoria)"
                    [btnCambioDeEstado]="true"
                    [estadoHabilitado]="categoria.habilitado"
                    (emitCambioDeEstado)="cambiarEstadoCategoria()"></app-btn-group>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>