.main-container{
    background-color: rgb(214, 218, 221);
}
.link-style{
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
.header-container{
    font-size: min(max(9px, 1.7vw), 12px);
}
.header-li-style{
    font-size: 1em;
    padding: 21px 20px;
    white-space: nowrap;
}
.header-li-style:hover{
    background-color: rgba(121, 129, 165, 0.185);
}
.ul-header-container{
    background-color: rgba(121, 129, 165, 0.185);
}

@media (min-width:478px) {
    .ul-filtro{
        margin-bottom: 0;
    }
}
.filtro-dropdown{
    background-color: rgba(119, 147, 165, 0.753);
    border: none;
}
.dropdown-container{
    font-size: min(max(9px, 1.7vw), 12px);
    --bs-dropdown-min-width: 5rem;
}
.form-search{
    position: relative;
    align-self: flex-end;
}
.input-search{
    border: none;
    border-radius: 5px;
}

/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; } */

.input-search:focus-visible{
    outline:2px solid rgba(108, 144, 168, 0.39);
}

.button-magnifyng-glass{
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 1.5em;
    color: rgb(131, 160, 204);
    margin-top: 3px;
    margin-left: 4px;
    right: 5px;
}
.post-container{
    background-color: rgba(121, 129, 165, 0.185);
}
.anchor-style{
    color: rgb(95, 118, 167);
    cursor: pointer;
}
.anchor-style:hover{
    color: rgb(93, 152, 204);
}