.main-container{
    background-color: rgb(214, 218, 221);
}
.link-style{
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
    cursor: pointer;
}
.header-container{
    font-size: min(max(9px, 1.7vw), 12px);
}
.header-li-style{
    font-size: 1em;
    padding: 21px 20px;
    white-space: nowrap;
}
.header-li-style:hover{
    background-color: rgba(121, 129, 165, 0.185);
}
.pagina-activa{
    border-bottom: 2px solid rgba(40, 74, 124, 0.568);
}
.ul-header-container{
    background-color: rgba(121, 129, 165, 0.185);
}

@media (min-width:478px) {
    .ul-filtro{
        margin-bottom: 0;
    }
}
.filtro-dropdown{
    background-color: rgba(119, 147, 165, 0.753);
    border: none;
}
.dropdown-container{
    font-size: min(max(9px, 1.7vw), 12px);
    --bs-dropdown-min-width: 5rem;
}



/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; } */



/* .post-container{
    background-color: rgba(121, 129, 165, 0.185);
} */
.anchor-style{
    color: rgb(95, 118, 167);
    cursor: pointer;
}
.anchor-style:hover{
    color: rgb(93, 152, 204);
}