.main-container{
    background-color: rgb(214, 218, 221);
}

.header-li-style{
    font-size: .9em;
    padding: 21px 20px;
    white-space: nowrap;
    font-weight: 500;
    color: rgb(130, 143, 187);
}
.header-li-style:hover{
    background-color: rgba(121, 129, 165, 0.185);
}
.pagina-activa{
    border-bottom: 2px solid rgba(69, 114, 180, 0.322);
}
.ul-header-container{
    background-color: rgba(121, 129, 165, 0.185);
}

@media (min-width:478px) {
    .ul-filtro{
        margin-bottom: 0;
    }
}
.filtro-dropdown{
    background-color: rgba(119, 147, 165, 0.753);
    border: none;
}
.dropdown-container{

}