<div class="mx-auto my-5 pb-4 px-0 main-container col-12 col-lg-10 col-xl-7 p-0 foro-main">
    <header class="header-container">
        <ul class="d-flex ul-header-container px-4">
            <li class="link-style" [ngClass]="{'pagina-activa': router.url.substring(9) == 'general'}">
                <a class="nav-link border-start header-li-style" routerLink="/bp-foro/general">General</a>
            </li>
            <li class="link-style" [ngClass]="{'pagina-activa': router.url.substring(9) == 'indice'}">
                <a class="nav-link border-start border-end header-li-style" routerLink="/bp-foro/indice">Foro indice</a>
            </li>
        </ul>
    </header>
    <router-outlet></router-outlet>
</div>