<ng-container *ngIf="persona$ | async as personaAsync">
    <form [formGroup]="formNuevaComida" *ngIf="toggleAdd" action="" class="d-flex flex-column align-items-center w-100 gap-2 py-3 general-bg">
        <div class="w-100 position-relative text-center mb-2">
            <h5>Añadir comida</h5>
            <button (click)="cambiarToggleAdd()"  class="button-absolute button-absolute-red">
                <i class="fa-solid fa-xmark fs-4"></i>
            </button>
        </div>
        <input formControlName="nombreComida" class="input-style w-50" type="text" placeholder="Nombre de la comida">
        <input formControlName="calorias" class="input-style w-50" type="number" placeholder="Calorias">
        <input class="input-style w-50" type="file" id="image" (change)="obtenerImagen($event)">
        <button (click)="subirComida($event)" class="btn btn-sm btn-secondary w-50 align-self-center">Subir</button>
    </form>
    
    <div *ngIf="!toggleAdd && personaAsync.estomago" class="d-flex flex-wrap justify-content-center gap-4 py-4 general-bg w-100">
        <div class="w-100 position-relative">
            <button (click)="cambiarToggleAdd()" class="button-absolute button-absolute-green">
                <i class="fa-solid fa-fish class fs-3"></i> <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <article (click)="seleccionarComida(comida.id)" *ngFor="let comida of personaAsync.estomago.comidas" class="article-comida col-3 mb-2 d-flex flex-column justify-content-center" [ngClass]="{'selected': comidaSeleccionada == comida.id}">
            <div class="img-container p-2" [ngClass]="{'d-none': comidaSeleccionada == comida.id && toggleEditar}">
                <img class="img-comida" [src]="comida.imagen.path" alt="imagen de comida">
            </div>
            <div class="ps-2" [ngClass]="{'d-none': comidaSeleccionada == comida.id && toggleEditar}">
                <h6>{{comida.nombreComida}}</h6>
                <h6>{{comida.calorias}} kcal</h6>
                <div *ngIf="comidaSeleccionada == comida.id">
                    <button (click)="cambiarToggleEditar($event)" class="button-absolute button-edit"><i class="fa-solid fa-pen"></i></button>
                    <button (click)="eliminarComida(personaAsync.estomago.id, comida.id)" class="button-absolute button-elim"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            <form (click)="stopPropagation($event)" [formGroup]="formNuevaComida" *ngIf="comidaSeleccionada == comida.id && toggleEditar" class="d-flex flex-column gap-3 align-items-center">
                <input class="w-100 ps-2 input-style" type="file" id="image" (change)="obtenerImagen($event)">
                <input formControlName="nombreComida" class="w-75 input-edit input-style" type="text" placeholder="Nombre de la comida" >
                <input formControlName="calorias" class="w-75 input-edit input-style" type="number" placeholder="Calorias" >
                <div class="w-100 d-flex justify-content-center gap-4">
                    <button (click)="editarComida()" class="btn-send-edit btn btn-sm py-0">Editar</button>
                    <button (click)="cambiarToggleEditar($event)" class="button-absolute-red bg-transparent border-0"><i class="fa-solid fa-xmark fs-4"></i></button>
                </div>
            </form>
        </article>
    </div>
</ng-container>