.form-search{
    position: relative;
    z-index: 1;
}
.input-search{
    border: none;
    border-radius: 5px;
    padding: 7px 5px;
    padding-right: 40px;
}
.input-search:focus-visible{
    outline:2px solid rgba(108, 144, 168, 0.39);
}
.button-magnifyng-glass{
    border: none;
    background-color:rgba(216, 216, 216, 0.568);
    position: absolute;
    font-size: 1.5em;
    color: rgb(131, 160, 204);
    right: 0px;
    top: 0px;
}