.admin-nav{
    
}
.admin-nav-ul{

}
.nav-li{
    display: grid;
    align-items: center;
    list-style-type: none;
    background-color: rgb(158, 178, 214);
    flex-basis: 30%;
    height: 60px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}
.li-active{
    background-color: rgba(228, 233, 237, 0.938);
}
@media (min-width: 600px) {
    .nav-li{
        flex-basis: 18%;
    }
}