.nav-li{
    display: grid;
    align-items: center;
    list-style-type: none;
    background-color: rgb(134, 142, 156);
    flex-basis: 30%;
    height: 50px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    color: #F3F7F8;
    font-weight: 400;
    font-size: .9rem;
}
.li-active{
    background-color: #4C5B6C;
}
@media (min-width: 600px) {
    .nav-li{
        flex-basis: 18%;
    }
}